/* pages/activityList/activityList.wxss */
page {
  height: 100vh;
}
.scrollarea {
  flex: 1;
  overflow-y: hidden;
}
.swiper {
  height: 400rpx;
  background-position: center center;
  background-size: 100% auto;
}