/* pages/search/search.wxss */
.scrollarea {
  flex: 1;
  overflow-y: hidden;
}
.empty {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.van-search {
  padding-top: 0 !important;
}