/* pages/activityRegister/activityRegister.wxss */
page {
	height: calc(100vh - env(safe-area-inset-bottom));
	overflow: hidden;
}
.scrollarea {
  height: 100%;
  padding-bottom: env(safe-area-inset-bottom);
}

.notice {
  .icon {
    color: #008000;
  }
  .title {
    margin-left: 12rpx;
  }
}
.notice-bar {
  .title {
    font-size: 28rpx;
    color: #008000;
    border-radius: 12rpx;
    padding-top: 16rpx;
    padding-bottom: 16rpx;
  }
}