/* components/activityItem/activityItem.wxss */
@import "/colorui/main.wxss";
@import "/colorui/icon.wxss";

.bg-image {
  height: 320rpx;
  background-position: center center;
  background-size: 100% auto;
}
.image {
  background-color: #000;
}
.text-969799 {
  color: #969799;
}
.share-button- {
  .van-button--default {
    border: 0;
  }
  .van-button--normal {
    padding: 0 10rpx !important;
    min-width: 100rpx;
  }
}