.header .ant-tabs-nav-wrap{
    width: 80%;
    margin: 0 10%;
}

.header .ant-dropdown-link{
    color: #1890FF;
}

.ant-dropdown-menu-item{
    padding: 0;
}

.header-menu-button{
    width: 100%;
    padding: 5px 10px;
}

.ant-page-header{
    background: #FFF !important;
}