.home-sider{
    background: #00000036;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 100;
    position: absolute;
    top: 0;
}

.home-sider .content{
    float: right;
    background: #fff;
    width: 30%;
    height: 100%;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.21);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.home-sider .content .notice-title{
    align-self: flex-start;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
}

.home-sider .content .notice-title img{
    margin-left: 2px;
}

.home-sider .content .content-block{
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    color: rgba(0, 0, 0, 0.45);
}

.home-sider .content .content-block .remove-all{
    font-size: 12px;
    color: #40a9ff;
    cursor: pointer;
}

.home-sider .content .content-block .title{
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.home-sider .content .content-block .title .left{
    display: flex;
    align-items: center;
}

.home-sider .content .content-block .title .left img{
    margin: 5px;
}

.home-sider .content .content-block .list.ant-list-item-meta-title{
    color: rgba(0, 0, 0, 0.45);
}